{% extends "VideocvFrontendBundle::layout.html.twig" %}
{% block title %} Change Password {% endblock %}

{% block content %}
	<div class="main-content buildprofile request_password_user custom_layout_fosUserBundle">
		<div class="list-content">
			<div class="content">
				<h2>{{ 'Change Password'|trans }}</h2>
				{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
			</div>
		</div>
	</div>
{% endblock content %}

{% block gloabalVariableJavascript %} 
	<script type="text/javascript">
		var bCheckJavascriptChangePassword= true;
	</script>
{% endblock %}