{% extends "VideocvFrontendBundle::layout.html.twig" %}
{% block title %} Password already requested {% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	<div class="main-content buildprofile password_already_requested custom_layout_fosUserBundle">
		<div class="list-content">
			<div class="content">
				<div class="alert alert-block"><button class="close" data-dismiss="alert" type="button">×</button> {{ 'Password already requested. Please check your email again.'|trans }}</div>
				<a class="custom_btn" href="{{ path('fos_user_security_login') }}">{{ 'Login'|trans }}</a>
			</div>
		</div>
	</div>
{% endblock content %}
