{% extends "ApplicationFrontendBundle::layout.html.twig" %}
{% block content %}
	<div class="row-fluid">
		<div class="well login-box" style="float:none !important;margin-left: auto !important;margin-right: auto !important;">
			<div class="alert alert-info">
				{{ 'Leave Management System'|trans }}
			</div>
			<form class="add_user_admin_form" method="POST" enctype="multipart/form-data">
				Start: <input type="text" id="txtStartDate" name="txtStartDate" />
				<select class="txtStartTime" name="txtStartTime">
					<option value="08:00">08:00</option> 
					<option value="08:30">08:30</option>
					<option value="09:00">09:00</option>
					<option value="09:30">09:30</option>
					<option value="10:00">10:00</option>
					<option value="10:30">10:30</option>
					<option value="11:00">11:00</option>
					<option value="11:30">11:30</option>
					<option value="13:00">13:00</option>
					<option value="13:30">13:30</option>
					<option value="14:00">14:00</option>
					<option value="14:30">14:30</option>
					<option value="15:00">15:00</option>
					<option value="15:30">15:30</option>
					<option value="16:00">16:00</option>
					<option value="16:30">16:30</option>
				</select>
				<br/>
				End: <input type="text" id="txtEndDate" name="txtEndDate" />
				<select class="txtEndTime" name="txtEndTime">
					<option value="08:00">08:00</option> 
					<option value="08:30">08:30</option>
					<option value="09:00">09:00</option>
					<option value="09:30">09:30</option>
					<option value="10:00">10:00</option>
					<option value="10:30">10:30</option>
					<option value="11:00">11:00</option>
					<option value="11:30">11:30</option>
					<option value="12:00">12:00</option>
					<option value="13:30">13:30</option>
					<option value="14:00">14:00</option>
					<option value="14:30">14:30</option>
					<option value="15:00">15:00</option>
					<option value="15:30">15:30</option>
					<option value="16:00">16:00</option>
					<option value="16:30">16:30</option>
					<option value="17:00">17:00</option>
				</select>
				<br/>
				<input type="submit" value="Save" class="btn save-profile">
			</form>
			</div><!--/span-->
	</div><!--/row-->
	{#<center>
		<div class="below_body">
		<div id="clock">Loading...</div>
		<script type="text/javascript">
			function refrClock(){
				var d=new Date("2014-11-02");
				var s=d.getSeconds();
				var m=d.getMinutes();
				var h=d.getHours();
				var day=d.getDay();
				var date=d.getDate();
				var month=d.getMonth();
				var year=d.getFullYear();
				var days=new Array("Chủ nhật","Thứ hai","Thứ 3","Thứ 4","Thứ 5","Thứ 6","Thứ 7");
				var months=new Array("1","2","3","4","5","6","7","8","9","10","11","12");
				var am_pm;
				if (s<10) {s="0" + s}
				if (m<10) {m="0" + m}
				if (h>12) {h-=12;AM_PM = "PM"}
				else {AM_PM="AM"}
				if (h<10) {h="0" + h}
				document.getElementById("clock").innerHTML= day + "--" + days[day] + " Ngày " + date + "/" +months[month] + "/" + year + " Bây giờ là "+ "  [" + h + ":" + m + ":" + s + "] " + AM_PM;
				setTimeout("refrClock()",1000);
			}
			refrClock();
		</script>
	</center>#}
{% endblock %}
{% block javascript %}
	<script type="text/javascript">
		/*$(".txtTaskDate").datepicker({
			dateFormat: "yy-mm-dd",
			numberOfMonths: 1
		});*/
		$("#txtStartDate").datepicker({
			dateFormat: "yy-mm-dd",
			numberOfMonths: 1,
			onSelect: function(selected) {
				$("#txtEndDate").datepicker("option","minDate", selected);
				var d=new Date( $(this).val() );
				if( d.getDay() == 0 ){
					alert('Sunday is invalid date!');
					$(this).val('');
				}
				if( d.getDay() == 6 ){
					saturdayStart('.txtStartTime');
				}
			}
		});
		$("#txtEndDate").datepicker({
			dateFormat: "yy-mm-dd",
			numberOfMonths: 1,
			onSelect: function(selected) {
				$("#txtStartDate").datepicker("option","maxDate", selected)
				var d=new Date( $(this).val() );
				if( d.getDay() == 0 ){
					alert('Sunday is invalid date!');
					$(this).val('');
				}
				if( d.getDay() == 6 ){
					saturdayEnd('.txtEndTime');
				}
			}
		});
		function saturdayStart(strClass){
			var strHtml = '';
			strHtml = strHtml + '<option value="08:00">08:00</option>';
			strHtml = strHtml + '<option value="08:30">08:30</option>';
			strHtml = strHtml + '<option value="09:00">09:00</option>';
			strHtml = strHtml + '<option value="09:30">09:30</option>';
			strHtml = strHtml + '<option value="10:00">10:00</option>';
			strHtml = strHtml + '<option value="10:30">10:30</option>';
			strHtml = strHtml + '<option value="11:00">11:00</option>';
			strHtml = strHtml + '<option value="11:30">11:30</option>';
			$(strClass).html( strHtml );
		}
		function saturdayEnd(strClass){
			var strHtml = '';
			strHtml = strHtml + '<option value="08:00">08:00</option>';
			strHtml = strHtml + '<option value="08:30">08:30</option>';
			strHtml = strHtml + '<option value="09:00">09:00</option>';
			strHtml = strHtml + '<option value="09:30">09:30</option>';
			strHtml = strHtml + '<option value="10:00">10:00</option>';
			strHtml = strHtml + '<option value="10:30">10:30</option>';
			strHtml = strHtml + '<option value="11:00">11:00</option>';
			strHtml = strHtml + '<option value="11:30">11:30</option>';
			strHtml = strHtml + '<option value="12:00">12:00</option>';
			$(strClass).html( strHtml );
		}
	</script>
{% endblock %}