{% extends "ApplicationFrontendBundle::layout.html.twig" %}

{% block content %}
	Hello Chao {{ user.username }}!
	<a href="{{ path('application_frontend_logout') }}" class="btn">{% trans %}Logout{% endtrans %}</a>
	<br/>
	From: <input type="text" id="txtFromDate" />
	To: <input type="text" id="txtToDate" />
	<p id="datepairExample">
		From <input type="text" class="date start" />
		<input type="text" class="time start" /> To
		<input type="text" class="time end" />
		<input type="text" class="date end" />
	</p>
{% endblock %}
{% block javascript %}
	<script type="text/javascript">
		$("#txtFromDate").datepicker({
			numberOfMonths: 1,
			onSelect: function(selected) {
			  $("#txtToDate").datepicker("option","minDate", selected)
			}
		});
		$("#txtToDate").datepicker({ 
			numberOfMonths: 1,
			onSelect: function(selected) {
			   $("#txtFromDate").datepicker("option","maxDate", selected)
			}
		});
	</script>
	<script>
        $('#datepairExample .time').timepicker({
            //'showDuration': true,
            //'timeFormat': 'g:ia'
            'minTime': '8:00',
    		'maxTime': '17:00',
            'timeFormat': 'H:i',
            'disableTimeRanges': [
		        ['12:00', '12:00'],
		    ]
        });

        $('#datepairExample .date').datepicker({
            'format': 'm/d/yyyy',
            'autoclose': true
        });

        $('#datepairExample').datepair();
    </script>
{% endblock %}