{% extends "ApplicationBackendBundle::layout.html.twig" %}

{% block content %}
{% embed "ApplicationBackendBundle:Default:left-sidebar.html.twig" %}
	{% block active_class_group %}active{% endblock %}
{% endembed %}
<div class="main-content">
	<div class="list-content">
		<div class="content">
			<ul class="nav nav-tabs" id="list-tabs">
				<li class="active"><a href="#group">{{ 'Add Group'|trans|capitalize }}</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="product">
					<form enctype="multipart/form-data" method="POST" class="edit_group_form backend-form">
						{{ form_widget(form) }}
						<div class="submit-group clearfix">
							<div class="save-group pull-left">
								<i class="icon-save"></i>
								<input class="btn save-group" type="submit" value="{{ 'Save'|trans }}" />
							</div>
							<a href="{{ path('application_backend_cms_page_index') }}" class="btn cancel-edit-group pull-left">
								<i class="icon-long-arrow-left"></i>
								{% trans %}Cancel{% endtrans %}
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js_upload %}GroupType_content{% endblock %}